<web-app>
    <display-name>Archetype Created Web Application</display-name>


    <servlet>
        <servlet-name>Jersey REST Service</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>net.palacesoft.neo4j.neoflix</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GraphCreator</servlet-name>
        <servlet-class>net.palacesoft.neo4j.neoflix.GraphCreator</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GraphCreator</servlet-name>
        <url-pattern>/createGraph/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Jersey REST Service</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>


</web-app>
